<div style=" width: 70%;   background-color: antiquewhite; margin: auto ;">
  <form [formGroup]="userRegisterForm" (ngSubmit)="submit()">

    <div class="mb-2 row">
      <label for="name" class="col-sm-2 col-form-label">FullName</label>
      <input type="text" formControlName="fullName" class="form-control" id="name" name="name"
        [class.is-invalid]="fullName?.invalid" [class.is-valid]="fullName?.valid">
    </div>
    <div class="alert alert-warning" [hidden]=" fullName?.valid || fullName?.untouched">
      <small *ngIf="fullName?.errors?.['required']">
        Full Nmae is required
      </small>
      <small *ngIf="fullName?.errors?.['pattern']">
        Full Name must be 3 letters at least <b>{{ fullName?.errors?.['pattern'].actualValue }}</b> dosn't match
      </small>
    </div>

    <div class="mb-2 row">
      <label for="email" class="col-sm-2 col-form-label">Email</label>
      <input type="email" formControlName="email" class="form-control" id="email" name="email">
    </div>
    <div class="alert alert-warning" [hidden]=" email?.valid || email?.untouched">
      <small *ngIf="email?.errors?.['required']">
        Email required
      </small>
      <small *ngIf="email?.errors?.['existEmail']">
        Entered Email is used before. <b>{{ email?.errors?.['existEmail'].value }}</b> can't be used
      </small>
    </div>


    <div formArrayName="phoneNo">
      <div class="mb-2 row ms-3" *ngFor="let phoneNo of phoneNumbers.controls , let i=index">
        <label for="{{'phoneNo-'+ i}}" class="col-sm-2 col-form-label">Phone No. #{{i+1}}</label>
        <input type="text" #inputPhone [formControlName]="i" class="form-control" id="{{'phoneNo-'+i}}" name="phone">
        <button type="button" [disabled]="inputPhone.value==''" class="btn btn-primary" style="width: 50px;"
          (click)="addPhoneNo($event)"> +</button>
      </div>

    </div>
    <div class="row" formGroupName="address">
      <div class="mb-1 ">
        <label for="city" class="col-sm-2 col-form-label">city</label>
        <input type="text" formControlName="city" class="form-control" id="city" name="city">
      </div>

      <div class="mb-1">
        <label for="postalCode" class="col-sm-2 col-form-label"> Postal Code</label>
        <input type="text" formControlName="postalCode" class="form-control" id="postalCode" name="postalCode">
      </div>

      <div class="mb-1">
        <label for="street" class="col-sm-2 col-form-label">street</label>
        <input type="text" formControlName="street" class="form-control" id="street" name="street">
      </div>
    </div>

    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
      <input type="radio" class="btn-check" formControlName="referral" name="referral" id="btnradio1" autocomplete="off"
        value="SoocialMadia" (change)="updateReferralValidators()">
      <label class="btn btn-outline-primary" for="btnradio1">Soocial Madia</label>

      <input type="radio" class="btn-check" formControlName="referral" name="referral" id="btnradio2" autocomplete="off"
        value="Friend" (change)="updateReferralValidators()">
      <label class="btn btn-outline-primary" for="btnradio2">Friend</label>

      <input type="radio" class="btn-check" formControlName="referral" name="referral" id="btnradio3" autocomplete="off"
        value="Other" (change)="updateReferralValidators()">
      <label class="btn btn-outline-primary" for="btnradio3">Other</label>
    </div>

    <div class="mb-2 " *ngIf="referral?.value=='Other'">
      <label for="rOther" class="col-sm-2 col-form-label">Specify</label>
      <input type="text" formControlName="referralOther" class="form-control" id="rOther" name="refOther">
    </div>

    <div class="mb-2 row">
      <label for="password" class="col-sm-2 col-form-label">Password</label>
      <input type="password" formControlName="password" class="form-control" id="password" name="password">
    </div>

    <div class="mb-2 row">
      <label for="confirmPassword" class="col-sm-2 col-form-label">Confirm Password</label>
      <input type="password" formControlName="confirmPassword" class="form-control" id="confirmPassword"
        name="confirmPassword">
    </div>

    <div class="alert alert-warning"
      *ngIf="(confirmPassword?.touched && password?.touched) && (confirmPassword?.invalid ||userRegisterForm .errors?.['UnmatchedPassword'])">
      <small *ngIf="confirmPassword?.errors?.['required']">
        confirm Password is required
      </small>
      <small *ngIf="userRegisterForm.errors?.['UnmatchedPassword']">
        Confirm password must match password
      </small>
    </div>



    <button [disabled]=" userRegisterForm.invalid" type="submit" class="btn btn-primary">Submit </button>
  </form>

</div>

<hr>




<div class="text-danger">
  <h3> to bo removed [for test]:</h3>
  <div>
    {{ userRegisterForm.value | json}}

  </div>
  <h6> full Name errors {{fullName?.errors |json }} </h6>

  <h6> email errors : {{userRegisterForm.get('email')?.errors |json }} </h6>
  <h6> referral errors : {{userRegisterForm.get('referralOther')?.errors |json }} </h6>

  <h6> form errors :{{ userRegisterForm.errors|json}}
    <br>

  </h6>

</div>
