<div class="table-responsive mt-5">
  <table class=" ">
    <thead>
      <tr class="">
        <th scope="col p-5" style="background-color: aquamarine; padding: 20px; text-align:center; ">No.</th>
        <th scope="col p-5" style="background-color: aquamarine; padding: 20px; text-align:center; ">Name</th>
        <th scope="col p-5" style="background-color: aquamarine; padding: 20px; text-align:center; ">Image</th>
        <th scope="col p-5" style="background-color: aquamarine; padding: 20px; text-align:center; ">Price in USD</th>
        <th scope="col p-5" style="background-color: aquamarine; padding: 20px; text-align:center; ">Price in $</th>
        <th scope="col p-5" style="background-color: aquamarine; padding: 20px; text-align:center; ">Quantity</th>
        <th scope="col p-5" style="background-color: aquamarine; padding: 20px; text-align:center; ">Count</th>
        <th scope="col p-5" style="background-color: aquamarine; padding: 20px; text-align:center; ">Detalis</th>
        <th scope="col p-5" style="background-color: aquamarine; padding: 20px; text-align:center; ">Add</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let i of prodListOfCat ;let x=index;"
        [ngStyle]="{'background-color':i.quantity===0 ? 'yellow':'white'}">
        <td style=" padding: 20px; text-align:center; ">{{x+1}}</td>
        <!-- safe naviagation operator -->
        <td style="padding: 20px; text-align:center; ">{{i?.name}}</td>
        <td style="padding: 20px; text-align:center; ">
          <img LightBox="red" defaultColor="gray" src="{{i.img}}"
            style="width: 100px; border-width: 5px; border-style: solid;">
        </td>
        <td style=" padding: 20px; text-align:center; ">{{i.price | currency:'USD' :
          'symbol'}}</td>
        <td style=" padding: 20px; text-align:center; ">{{i.price | USDtoEGP:20
          |currency:'EGP' : 'code'}}</td>
        <td style=" padding: 20px; text-align:center;">
          <!-- ng switch -->
          <div [ngSwitch]="i.quantity">
            <div *ngSwitchCase="0">Out of Stock</div>
            <div *ngSwitchCase="1">last item!</div>
            <div *ngSwitchCase="2">last 2 item</div>
            <div *ngSwitchDefault>{{i.quantity}}</div>
          </div>
        </td>
        <td style=" padding: 20px; ">
          <!-- template varibles -->
          <input #countValue name="" id="" class="from-control me-5" type="number">
        </td>
        <!-- <td style="padding: 20px; text-align:center; ">
          <button type="button" class="btn btn-primary" (click)="openProductDetalis(i.id)">Details</button>
        </td> -->
        <td style="padding: 20px; text-align:center; ">
          <a class="btn btn-primary" role="button" [routerLink]="['/product',i.id]">Details</a>
        </td>
        <td style="padding: 20px; text-align:center; ">
          <button type="button" class="btn btn-primary"
            (click)="buyProduct(i.price,countValue.value ,i.quantity)">Buy</button>
        </td>
      </tr>
    </tbody>

  </table>
</div>



